@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container {
	display: grid;
  padding: 10px;
	margin-top: -1px;
	margin-left: -1px;
  font-family: 'Roboto', sans-serif;
}

.fileListItem {
	padding: 5px 20px;
	display: grid;
	grid-template-columns: 25px 2fr 6fr 2fr;
	outline: 0.5px solid #A0A6BA;
	margin-top: 1px;
	margin-left: 1px;
}

.fileListItem:hover {
	background-color: #F4F4F6;
}

.fileListItem:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.fileListItem:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fileName {
	margin-left: 5px;
}

.fileName,
.commitMessage,
.time {
	color: #49495A;
}

a {
	color: #49495A;
	text-decoration: none;
}

a:hover {
	color: #2361E8;
	text-decoration: underline;
	cursor: pointer;
}

.fileName,
.commitMessage {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


.time {
	justify-self: end;
}
